backend/target/
backend/.mvn
frontend/node_modules
frontend/src/api/generated/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr